:root {
    --white-text-color: #FFFFFF;
    --red-text-color: #D41443;
    --cream-text-color: #FFA5BA;
    --black-text-color: #000000;
    --grey-text-color: #907E82;
    --bgc-first_section-color: #FFF5F6;
    --bgc-secondary_section-color: #FFFFFF;
    --bgc-products_first-color: #FFB8CA;
    --bgc-products_second-color: #F0D1A5;
    --bgc-products_third-color: #C2E297;
    --bgc_first-btn-color: #FFFFFF;
    --bgc_second-btn-color: #D41342;
    --bgc-modal-color: #E17992;
    --bgc-icon-color: #FEA5BB;
    --font-main: Titan One, sans-serif;
    --font-secondary: DM Sans, sans-serif;
    --bgc-contacts_first-color: #F0D1A5;
    --bgc-contacts_second-color: #C2E297;
    --transition-duration: 250ms;
    --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

