<section class="contacts">
  <h2 class="visually__hidden" id="contact">Contacts</h2>
<div class="container">
    <ul class="list contacts__list card-set">
        <li class="contacts__item card-item">
          <p class="contacts__top-text">Cafe</p>
            <ul class="list contacts__card-list">
              <li class="contacts__card-item">
              <address class="contacts__address">
                <a href="https://goo.gl/maps/U6tz9ADqR62VTMx7A" target="blank" rel="noopener noreferrer nofollow"
                  class="link contacts__link-address">Chicago</a>
              </address>
              <div class="contacts__address-blok"><p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p></div>
            </li>
            <li class="contacts__card-item">
              <ul class="list contacts__list-work">
                <li class="contacts__text-item" ><h3 class="contacts__title">Monday - Friday</h3>
                <p class="contacts__text contacts__text--red">06:00 AM - 10:00 PM</p></li>
                <li><h3 class="contacts__title">Saturday - Sunday</h3>
                <p class="contacts__text contacts__text--red">08:00 AM - 16:00 PM</p></li>
              </ul>
            </li>
            <li class="contacts__card-item">
              <address class="contacts__address">
                <ul class="list">
                  <li><a href="tel:+610383766284" class="link contacts__link">+61(0) 383 766 284 </a>
                  </li>
                  <li><a href="mailto:noreply@envato.com" class="link contacts__link">noreply@envato.com</a></li>
                </ul>
              </address>
            </li>
           </ul>
      </li>
        <li class="contacts__item card-item">
          <p class="contacts__top-text contacts__top-text--green">Food truck</p>
          <ul class="list contacts__card-list">
            <li class="contacts__card-item">
              <address class="contacts__address"><a href="https://goo.gl/maps/A746hNrLqTnNpVJN6" target="blank"
                  rel="noopener noreferrer nofollow" class="link contacts__link-address">Los Angeles</a>
              </address>
              <div class="contacts__address-blok"><p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p></div>
            </li>
            <li class="contacts__card-item">
              <ul class="list contacts__list-work">
                <li class="contacts__text-item">
                  <h3 class="contacts__title">Monday - Friday</h3>
                  <p class="contacts__text contacts__text--red">06:00 AM - 10:00 PM</p>
                </li>
                <li>
                  <h3 class="contacts__title">Saturday - Sunday</h3>
                  <p class="contacts__text contacts__text--red">08:00 AM - 16:00 PM</p>
                </li>
              </ul>
            </li>
            <li class="contacts__card-item">
              <address class="contacts__address">
                <ul class="list">
                  <li><a href="tel:+610383766284" class="link contacts__link">+61(0) 383 766 284 </a>
                  </li>
                  <li><a href="mailto:noreply@envato.com" class="link contacts__link">noreply@envato.com</a></li>
                </ul>
              </address>
            </li>
          </ul>
        </li>
        <li class="contacts__item card-item">
          <p class="contacts__top-text">Cafe</p>
          <ul class="list contacts__card-list">
            <li class="contacts__card-item">
              <address class="contacts__address"><a href="https://goo.gl/maps/hgykwJjgqKVZu3uS7" target="blank"
                  rel="noopener noreferrer nofollow" class="link contacts__link-address">New York</a></address>
                  <div class="contacts__address-blok"><p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p></div>
            </li>
            <li class="contacts__card-item">
              <ul class="list contacts__list-work">
                <li class="contacts__text-item">
                  <h3 class="contacts__title">Monday - Friday</h3>
                  <p class="contacts__text contacts__text--red">06:00 AM - 10:00 PM</p>
                </li>
                <li>
                  <h3 class="contacts__title">Saturday - Sunday</h3>
                  <p class="contacts__text contacts__text--red">08:00 AM - 16:00 PM</p>
                </li>
              </ul>
            </li>
            <li class="contacts__card-item">
              <address class="contacts__address">
                <ul class="list">
                  <li><a href="tel:+610383766284" class="link contacts__link">+61(0) 383 766 284 </a>
                  </li>
                  <li><a href="mailto:noreply@envato.com" class="link contacts__link">noreply@envato.com</a></li>
                </ul>
              </address>
            </li>
          </ul>
        </li>
    </ul>
    <ul class="list contacts__button-list">
      <li><button type="button" class="contacts__buttons contacts__button--red" data-modal-open-loc>Our Locations<svg width="7" height="12" class="contacts__button-icon">
        <use href="./images/contacts/icons.svg#icon-vector-1"></use>
      </svg><svg width="7" height="12" class="contacts__button-icon--red">
        <use href="./images/contacts/icons.svg#icon-vector-1-1"></use>
      </svg></button></li>
      <li><button type="button" class="contacts__buttons contacts__button--white" data-modal-open-fr>Franchise<svg width="7" height="12" class="contacts__button-icon">
        <use href="./images/contacts/icons.svg#icon-vector-1-1"></use>
      </svg><svg width="7" height="12" class="contacts__button-icon--white">
        <use href="./images/contacts/icons.svg#icon-vector-1"></use>
      </svg></button></li>
  </ul>
</div>
</section>