<footer class="footer">
    <div class="footer__container container">
        <div class="footer__info">
            <div class="footer__text-group">
                <p class="footer__text">homemade ice cream made</p>
                <p class="footer__accent-text">with passion</p>
            </div>
            <div class="footer__advertising">
                <ul class="footer__socials-list">
                    <li class="footer__socials-item">
                        <a href="https://github.com/" class="footer__socials-link">
                            <svg class="footer__socials-icon" width="19" height="19">
                                <use href="../icons/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__socials-item">
                        <a href="https://web.telegram.org/z/" class="footer__socials-link">
                            <svg class="footer__socials-icon" width="19" height="15">
                                <use href="../icons/sprite.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__socials-item">
                        <a href="https://www.facebook.com/" class="footer__socials-link">
                            <svg class="footer__socials-icon" width="9" height="19">
                                <use href="../icons/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <div class="footer__contact">
                    <p class="footer__contact-text">Feel free to contact&nbsp;</p>
                    <a href="tel:+610383766284" class="footer__contact-tel">+61 (0) 383 766 284</a>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <p class="footer__copyright-text">&copy; 2022 - IceCream. All Rights Reserved.</p>
        </div>
    </div>
</footer>