
<!-- Модальне вікно кнопки BUY NOW -->

<!-- Бекдроп -->
<div class="buy-backdrop is-hidden modal not-modal" data-modal data-modal2>
    <!-- Модальне вікно -->
    <div class="buy-modal">
      <!-- Кнопка закриття модального вікна -->
      <button class="buy-modal__close-btn" data-modal-close  aria-label="Close modal">
        <svg class="buy-modal__close-icon" width="14" height="14">
          <use href="./images/modal-windows/header.svg#close-icon"></use>
        </svg>
      </button>

      <!-- Форма -->
      <form action="#" name="buy-modal__form">

        <!-- Заголовок форми -->
        <p class="buy-modal__title section-title">FOLLOW YOUR DREAM</p>

        <!-- Чекбокси -->
        <ul class="buy-modal__list">
          <li class="buy-modal__item">
            <picture>
              <source
                srcset="./images/modal-windows/products-icecream-mob@1x.png 1x,
                        ./images/modal-windows/products-icecream-mob@1x.png 2x"
              />
             
              <img src="./images/modal-windows/products-icecream-mob@1x.png" alt="Icecream" class="checkbox__img" />
            </picture>
            <input type="checkbox" id="ice" class="visually-hidden" name="check" value="icecream" />
            <label for="ice" class="checkbox">
              <span class="checkbox__inside">
                <span class="check__ball check__ball--pink"></span>
              </span>
            </label>
            <p class="checkbox__sub-label">Ice cream</p>
          </li>
          <li class="buy-modal__item">
            <picture>
              <source
                srcset="
                ./images/modal-windows/products-icecoffee-mob@1x.png 1x,
                ./images/modal-windows/products-icecoffee-mob@2x.png 2x
                "
              />
              
              <img src="./images/modal-windows/products-icecoffee-mob@1x.png"
                alt="Icecoffee"
                class="checkbox__img"
              />
            </picture>
            <input type="checkbox" id="ice-coffee" class="visually-hidden" name="check" value="icecoffee" />
            <label for="ice-coffee" class="checkbox">
              <span class="checkbox__inside">
                <span class="check__ball check__ball--orange"></span>
              </span>
            </label>
            <p class="checkbox__sub-label">Ice coffee</p>
          </li>
          <li class="buy-modal__item">
            <picture>
              <source
                srcset="
                ./images/modal-windows/products-iceshakes-mob@1x.png 1x,
                ./images/modal-windows/products-iceshakes-mob@2x.png 2x
                "
              />
              <img src="./images/modal-windows/products-iceshakes-mob@1x.png"
                alt="Iceshakes"
                class="checkbox__img"
              />
            </picture>
            <input type="checkbox" id="milk-shake" class="visually-hidden" name="check" value="milkshake" />
            <label for="milk-shake" class="checkbox">
              <span class="checkbox__inside">
                <span class="check__ball check__ball--green"></span>
              </span>
            </label>
            <p class="checkbox__sub-label">Milk shakes</p>
          </li>
        </ul>

        <!-- Строка вводу імені -->
       <label class="modal-form__label modal-form__label--top">
          <span class="modal-form__text">Name</span>
          <input type="text" name="user-name" class="modal-form__input" required placeholder="Your name"/>
          <svg class="modal-form__icon" width="18" height="18">
            <use href="./images/modal-windows/header.svg#user-form-icon"></use>
          </svg>
        </label>

        <!-- Строка вводу телефона -->
       <label class="modal-form__label">
          <span class="modal-form__text">Phone</span>
          <input type="tel" name="user-phone" class="modal-form__input" required placeholder="Your phone number"/>
          <svg class="modal-form__icon" width="18" height="18">
            <use href="./images/modal-windows/header.svg#phone-icon"></use>
          </svg>
        </label>
        <button class="first-btn send-btn" type="submit">
          <span class="first-btn__start">Send</span>
        </button>
      </form>
    </div>
  </div>







    <!-- HEADER мобільне меню -->
    <div class="header__mob-menu js-menu-container">
        <div class="header__mob-menu-box">
          <button class="mob-menu__close-btn js-close-menu" aria-label="Close mobile menu">
            <svg class="mob-menu-btn__icon" width="14" height="14">
              <use href="./images/modal-windows/header.svg#close-icon"></use>
            </svg>
          </button>
         <button class="first-btn buy-btn-mob" type="button" data-modal-open data-modal2-open>
            <span class="first-btn__start">Buy now</span>
            <img
              src="./images/modal-windows/btn-corner.svg" xmlns="http://www.w3.org/2000/svg"
              alt="стрелочка"
              width="6"
              height="10"
              class="first-btn__finish"
            />
          </button>
          <nav class="header__mob-nav">
            <ul class="header__mob-link-list">
              <li class="header__mob-item">
                <a href="#hero" class="header__mob-link current-link">Home</a>
              </li>
              <li class="header__mob-item">
                <a href="#about" class="header__mob-link">About us</a>
              </li>
              <li class="header__mob-item">
                <a href="#about" class="header__mob-link">How its made?</a>
              </li>
              <li class="header__mob-item">
                <a href="#products" class="header__mob-link">Our products</a>
              </li>
              <li class="header__mob-item">
                <a href="#contacts" class="header__mob-link">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
    </div>




<!--OUR LOCATION-->

<div class="contacts-location modal-is-hidden contacts-location-modal" data-modal-loc>
    <div class="location-map">
        <button type="button" class="contacts-location-close contacts-location-modal-close" data-modal-close-loc>
            <svg class="location-map__close-icon" width="18px" height="18px">
                <use href="./images/modal-windows/header.svg#close-icon">
                </use>
            </svg>
        </button>
        <form action="#" class="location-form">
            <p class="location-form__title">--Our location--</p>
            <iframe class="local" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5082.228854492167!2d30.520296757170627!3d50.438969246118994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc9e2591553d0f42!2sGulliver%20Tower%20B!5e0!3m2!1sru!2sua!4v1658089443200!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </form>
    </div>
</div>






<!--FRANCHISE-->
<div class="contacts-franchise backdrop is-hidden" data-modal-fr>
    <div class="franchise-modal">
         <button type="button" class="contacts-franchise-close contacts-franchise-modal-close" data-modal-close-fr>
             <svg class="franchise-modal__close-icon" width="18px" height="18px">
                 <use href="./images/modal-windows/header.svg#close-icon"></use>
             </svg>
         </button>

         <form action="#" class="franchise-form">
            <p class="franchise-form__title"> A franchise usually lasts for a fixed time period (broken down into shorter periods, which each require renewal), and serves a specific territory or geographical area surrounding its location. One franchisee may manage several such locations. Agreements typically last from five to thirty years, with premature cancellations or terminations of most contracts bearing serious consequences for franchisees. A franchise is merely a temporary business investment involving renting or leasing an opportunity, not the purchase of a business for the purpose of ownership. It is classified as a wasting asset due to the finite term of the license. </p>

            <div class="franchise-form-field">
                <label for="name" class="franchise-form-field__lable">Name</label>
                <div class="franchise-form-field__align-icon">
                    <input type="text" class="franchise-form-field__input" name="name" id="name" />
                    <svg class="franchise-form-field__icon" width="18px" height="18px">
                        <use href="./images/modal-windows/header.svg#icon-person"></use>
                    </svg>
                </div>
            </div>

            <div class="franchise-form-field">
                <label for="tel" class="franchise-form-field__lable">Phone number</label>
                <div class="franchise-form-field__align-icon">
                    <input type="tel" class="franchise-form-field__input" name="tel" id="tel" />
                    <svg class="franchise-form-field__icon" width="18px" height="18px">
                        <use href="./images/modal-windows/header.svg#icon-phone"></use>
                    </svg>
                </div>
            </div>
            <div class="franchise-form-field">
                <label for="email" class="franchise-form-field__lable">E-mail</label>
                <div class="franchise-form-field__align-icon">
                    <input type="email" class="franchise-form-field__input" name="email" id="email" />
                    <svg class="franchise-form-field__icon" width="18px" height="18px">
                        <use href="./images/modal-windows/header.svg#email-form"></use>
                    </svg>
                </div>
            </div>

            <label class="franchise-checkbox">
                <input class="franchise-checkbox__input visually-hidden" type="checkbox" name="agree" value="agree" />

                <span class="franchise-checkbox__icon"> </span>
                <span class="franchise-checkbox__text">I accept the terms of the agreement</span>
            </label>
            <button type="submit" class="franchise-form__button">SEND</button>
        </form>
        
        </div>
    </div>


<!--Modal-hero-->

<div  class="backdrop is-hidden " data-modal-hero>
  <div class="hero-modal">
      <button type="button" class="hero-modal-close hero-modal-close-btn" data-modal-close-hero>
          <svg class="hero-modal-close__icon" width="18" height="18">
              <use href="./images/modal-windows/header.svg#close-icon"></use>
          </svg> 
      </button>

      <form action="#" class="hero-form">
          <p class="location-form__title">--How our products are delivered--</p> 

          <iframe class="video" 
          id="my-video" 
          width="640" height="480" 
          src="https://www.youtube.com/embed/Rb5_l7XagaM" 
          title="ice cream frozen" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
          
      </form>
  </div>
</div>


 