<div class="backdrop is-hidden" data-modal-ice>
    <div class="modal-products_icecream prod-ice">
        <button type="button" class="hidden-button" data-modal-close-ice>
            <svg class="modal-read-more__icon" width="18" height="18">
                <use href="./images/modal-windows/header.svg#close-icon"></use>
            </svg>
        </button>
        <p class="modal-products_icecream-text"> 
        Ice cream is a delicious dessert on a hot day for children and adults. 
        It has only natural ingredients: milk, cream, 
        fruit, chocolate and fillers.
        </p>
    </div>
</div>


<div class="backdrop is-hidden" data-modal-coffe>
    <div class="modal-products_icecoffee prod-coffee">
        <button type="button" class="hidden-button" data-modal-close-coffe>
            <svg class="modal-read-more__icon" width="18" height="18">
                <use href="./images/modal-windows/header.svg#close-icon"></use>
            </svg>
        </button>
        <p class="modal-products_icecoffee-text">
            Ice coffee is a refreshing drink that gives energy.
            A great find for coffee lovers. The composition of ice coffee includes:
            coffee, milk, cream, ice and fillers according to the taste of your choice. 
        </p>
    </div> 
</div>

 
<div class="backdrop is-hidden" data-modal-shakes>
    <div class="modal-products_milkshakes prod-milk">
        <button type="button" class="hidden-button" data-modal-close-shakes>
            <svg class="modal-read-more__icon" width="18" height="18">
                <use href="./images/modal-windows/header.svg#close-icon"></use>
            </svg> 
        </button>
        <p class="modal-products_milkshakes-text">
        Milkshake is an aromatic cold drink based on milk and ice cream
        with a delicate creamy taste and airy texture. 
        The composition includes the following ingredients: 
        ice cream, cream, sugar, fillers, chocolate or fruit.
        </p> 
    </div>
</div>


 