<!--about- READ MORE мобільне меню-->
<div class="backdrop is-hidden" data-modal-about>
    <div class="modal-read-more">
        <button type="button" class="modal-read-more__close" data-modal-close-about>
            <svg class="modal-read-more__icon" width="18" height="18">
                <use href="./images/modal-windows/header.svg#close-icon"></use>
            </svg>  
        </button> 
        <p class="modal-read-more_description-text">Ice cream production technology consists of several stages:<br>
            <br>
            1. Preparation of raw materials from which the product will be made later;<br>
            2. Mixing of all necessary components, in accordance with the recipe and state regulations;<br>
            3. Filtering the obtained mass; <br>
            4. Pasteurization (heating) and homogenization (grinding) of the mass;<br>
            5. Cooling; <br>
            6. Mass freezing (saturation of ice cream with air);<br>
            7. Hardening (the process of "freezing" excess moisture);<br>
            8. Packing and packaging of the product;<br>
            9. Storage until the moment of transfer to the point of sale. <br>
            <br>
            <span class="modal-read-more_description-text2"> Now you know everything about ice cream. Rather, choose your favorite flavor and enjoy!<br></span>
        </p> 
    </div>
</div>