<section class="products">
  <div class="container">
    <p id="products" class="products-natural">100% natural</p>
    <h2 class="products-title">products</h2>
    <ul class="products-card">
      <li class="products-card__item products-card__item--icecream">
        <h3 class="products-card__title products-card__title--icecream">
          ice cream
        </h3>
        <p class="products-card__text">
          The Ice Cream collection combines familiar values: natural
          ingredients, bright combinations of flavors and high quality.
        </p>
        <button
          type="button"
          class="products-btn modal-products_icecream"
          data-modal-open-ice
        >
          <svg class="products-btn__icon" width="18" height="18">
            <use
              href="./images/products/symbol-defs.svg#icon-arrow-right2"
            ></use>
          </svg>
        </button>
      </li>
      <li class="products-card__item products-card__item--icecoffe">
        <h3 class="products-card__title products-card__title--icecoffe">
          ice coffee
        </h3>
        <p class="products-card__text">
          On warm days, cold coffee with ice cream is the best way to refresh
          yourself by taking a sip of a delicious cool drink.
        </p>
        <button
          type="button"
          class="products-btn modal-products_icecoffee"
          data-modal-open-coffe
        >
          <svg class="products-btn__icon" width="18" height="18">
            <use
              href="./images/products/symbol-defs.svg#icon-arrow-right2"
            ></use>
          </svg>
        </button>
      </li>
      <li class="products-card__item products-card__item--milkshakes">
        <h3 class="products-card__title products-card__title--milkshakes">
          milkshakes
        </h3>
        <p class="products-card__text">
          Fragrant, full of vitamins and incredibly tasty cocktail perfectly
          refreshes, invigorates and charges with a great mood.
        </p>
        <button
          type="button"
          class="products-btn modal-products_milkshakes"
          data-modal-open-shakes
        >
          <svg class="products-btn__icon" width="18" height="18">
            <use
              href="./images/products/symbol-defs.svg#icon-arrow-right2"
            ></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
