.buy-backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    visibility: visible;
    opacity: 1;
    overflow: auto;
    pointer-events: auto;
    transition: opacity 250ms var(--transition-timing),
    visibility 250ms var(--transition-timing);

    &.is-hidden {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }
  }
  
  .buy-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 20px;
    width: 95vw;
    min-height: 609px;
    background: linear-gradient(180deg, rgba(248, 137, 101, 0.9) 0%, #F57FA2 0.01%, #FDABE1 100%, #FDABE1 100%);
    // background-color: var(--bgc-modal-color);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: transform 250ms var(--transition-timing);

    .buy-backdrop.is-hidden & {
      transform: translate(-50%, -50%) scale(0.6);
    }
    @media screen and (max-height: 610px) {
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      .backdrop.is-hidden & {
        transform: translateX(-50%) scale(0.6);
      }
    }
    @media screen and (min-width: 480px) {
      padding: 30px;
      width: 450px;
      
    }
    @media screen and (min-width: 768px) {
      width: 500px;
      min-height: 400px;
      z-index: 30;
      position: relative;
    }
  }
  
  .buy-modal__close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    cursor: pointer;
    padding: 13px;
    border-radius: 50%;
    border: 1px solid var(--red-text-color);
   
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
      background-color: var(--bgc-products_first-color);
        cursor: pointer;
    }
  }
  
  .buy-modal__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0.03em; 
    color: var(--white-text-color);
    padding-top: 40px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .buy-modal__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -10px;
  }
  
  .buy-modal__item {
    margin: 10px;
    width: calc(100% / 3 - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & img {
      margin-bottom: 15px;
      width: 138px;
      max-height: 140px;
    }
  }
  
  // checkbox
  input[type='checkbox'] {
    &:checked {
      + label.checkbox {
        .checkbox__inside {
          .check__ball {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
            transition-delay: 150ms;
          }
        }
      }
    }
  }
  .checkbox__img {
    width: 100%;
  }

  .checkbox__sub-label {
    @media screen and (max-width: 479px) {
      white-space: pre-line;
    }
    text-align: center;
    color: var(--white-text-color);
    font-style: 18px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
  }
  
  .checkbox {
    --size: 40px;
    @media screen and (max-width: 479px) {
      --size: 35px;
    }

    margin-bottom: 10px;
    display: block;
    width: var(--size);
    height: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(243, 229, 229);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  
    .checkbox__inside {
      position: relative;
      width: calc(var(--size) / 1.75);
      height: calc(var(--size) / 1.75);
      border-radius: 50%;
      background: rgb(199, 194, 194);
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px 3px 3px rgba(0, 0, 0, 0.2);
  
      .check__ball {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: transform 250ms var(--transition-timing),
        opacity 300ms var(--transition-timing);
        transition-delay: 120ms;
  
        &::after {
          content: '';
          position: absolute;
          left: 50%;
          top: 25%;
          transform: translate(-50%, -50%);
          background: var(--white-text-color);
          width: 35%;
          height: 15%;
          filter: blur(4px);
        }
      }
    }
  }
  
  .check__ball--pink {
    background: var(--bgc-products_first-color);
  }
  
  .check__ball--orange {
    background: var(--bgc-products_second-color);
  }
  
  .check__ball--green {
    background: var(--bgc-products_third-color);
  }
  
  .modal-form__label,
  .modal-form__text,
  .modal-form__input,
  .modal-form__icon {
    cursor: pointer;
  }
  
  .modal-form__label {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto 10px;
    @media screen and (min-width: 480px) {
      width: 350px;
    }
  }
  
  .modal-form__label--top {
    margin-top: 40px;
  }
  
  .modal-form__text {
    display: inline-block;
    margin-bottom: 10px;
    font-style: 16px;
    font-weight: 400;
    line-height: 1.12;
    letter-spacing: normal;
    color: var (--white-text-color);
  }
  
  .modal-form__input {
    display: block;
    width: 100%;
    height: 44px;
    padding: 0 16px 0 42px;
    border-radius: 22px;
    border: 1px solid var(--black-text-color);
    background-color: var(--white-text-color);
    
    font-style: 16px;
    font-weight: 400;
    line-height: 1.12;
    letter-spacing: normal;
    transition: border 250ms var(--transition-timing);
    &:focus {
      border: 1px solid var(--red-text-color);
      outline: none;
    }
  }
  
  .modal-form__icon {
    position: absolute;
    left: 16px;
    bottom: 14px;
    fill: var(--black-text-color);
    transition: fill 250ms var(--transition-timing);
    .modal-form__input:focus + &,
    .modal-form__input:hover + & {
      fill: var(--red-text-color);
      
    }
  }
  
  .modal-form__input {
      &:hover, &:focus {
      border-color: var(--red-text-color);
      }
      
  &:not(:placeholder-shown) {
      border-color: var(--red-text-color);
      }
  }

  .send-btn {
    font-family: 'DM Sans', sans-serif;
    font-size: large;
    font-weight: 700;
    color: var(--red-text-color);
    margin: 30px auto 0;
    width: 160px;
    height: 44px;
    cursor: pointer;
    padding: 0;
    transition: background-color 250ms var(--transition-timing);
    & .first-btn__start {
      padding: 0;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid var(--red-text-color);
    background-color: var(--bgc-products_first-color);
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .send-btn:hover, .send-btn:focus {
    background-color: rgb(248, 218, 236);
  }
