.upward{
    position: fixed;
    bottom: 700px;
    right: 10px;
    width: 40px;
    height: 40px;
    background: url(../images/reviews/upwards-btn.png);
    background-size: cover;
    z-index: 1;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;

    @include mq(tablet){
        right: 20px;
        width: 50px;
        height: 50px;
    }

    @include mq(desktop){
        right: 30px;
        width: 70px;
        height: 70px;
    }
}

.upward.active{
    bottom: 50px;
    visibility: visible;
    opacity: 1;

    @include mq(tablet){
        bottom: 40px;
    }

    @include mq(desktop){
        bottom: 30px;
    }
}
